<head>
  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>

<div class="coverparentspace">



  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Welcome to BMS BANK Dashboard!</h2>
        <p>With all the functionalities you are looking for in Fast, Reliable and Secured Manner !</p>
      </div>

      <div class="cards-wrapper w-full flex gap-2">
        <div class="w-full mb-2">
          <app-userprofilecard></app-userprofilecard>
        </div>
        <div class="w-full mb-2">
          <app-accountdetailcard></app-accountdetailcard>
        </div>
      </div>


      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box iconbox-blue">


            <div class="icon"><i class="fab fa-telegram-plane"></i></div>

            <h4><a routerLinkActive="active-link" routerLink="/account/fund-transfer">Send Money</a></h4>
            <p>You can send money whom ever you want here </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box iconbox-blue">


            <div class="icon"><i class="fas fa-hand-holding-usd"></i></div>

            <h4><a routerLinkActive="active-link" routerLink="/account/deposit">Deposit</a></h4>
            <p>You can deposit money to your account here.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box iconbox-blue">


            <div class="icon"><i class="far fa-address-card"></i></div>

            <h4><a routerLinkActive="active-link" routerLink="/user/profile">User Details</a></h4>
            <p>You can able to find and Update all your personal details here </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box iconbox-blue">
            <div class="icon"><i class="fas fa-atlas"></i></div>
            <h4><a routerLinkActive="active-link" routerLink="/account/transaction-history">Transaction List</a></h4>
            <p>Here you can explore all the transaction that you did so far.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box iconbox-blue">
            <div class="icon"><i class="far fa-handshake"></i></div>
            <h4><a routerLinkActive="active-link" routerLink="/account/withdraw">Withdraw</a></h4>
            <p>You can withdraw money from your account here </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box iconbox-blue">
            <div class="icon"><i class="fas fa-key"></i></div>
            <h4><a routerLinkActive="active-link" routerLink="/account/pin">Account Pin </a></h4>
            <p>All the thing related to Account Pin is under here !</p>
          </div>
        </div>

      </div>

    </div>
  </section>
  <!-- End Sevices Section -->



 
</div>

<app-pin-creation-model *ngIf="showPINCreationModel" (redirect)="redirectToPINCreationPage()"></app-pin-creation-model>