<header id="header" class="fixed-top bg-white shadow">
  <div class="nav-wrapper flex items-center justify-between mx-1">
    <h1 class="nav-logo min-w-min !min-w-[fit-content] text-xl md:text-2xl font-bold"> 
    
    <img src="/assets/BMS2.png" alt="BMS Logo" href ="" style="height: 70px; width: auto; margin-right: 10px; display: inline-block;">
    <a *ngIf="!isLoggedIn()" style="color:#B100FF;text-decoration: none;" href =""> | BANKING MANAGEMENT SYSTEM</a>
    <a *ngIf="isLoggedIn()" style="color:#B100FF;text-decoration: none;" routerLink="/dashboard"> | BANKING MANAGEMENT SYSTEM</a>
    
    </h1>

    <div class="nav-body w-full flex justify-end space-x-4 p-1">
      <!-- <a *ngIf="!isLoggedIn()" routerLink="/"
        class="smallscreen border border-2 border-gray-500 hover:bg-gray-100 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline text-sm">
        <i class="fas fa-sign-in-alt mr-1"></i> Login
      </a>
      <a *ngIf="!isLoggedIn()" routerLink="/signup"
        class="smallscreen bg-blue-700 hover:bg-blue-900 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline text-sm">
        <i class="fas fa-user-plus mr-1"></i> Create Account
      </a> -->
      <button *ngIf="isLoggedIn()"
        class="smallscreen bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline text-sm"
        (click)="logout()">
        <i class="fas fa-sign-out-alt mr-1"></i> Logout
      </button>
    </div>
  </div>
</header>